{% extends 'base.html' %}

{% block content %}
    <span class="title"><h1>{% block title %} Employer: {{ employer.name }}  {% endblock %}</h1></span>
    <div class="content">
            <div class="employer">
                <form method="post">
                    <p>
                        <input name="content"
                                    placeholder=""
                                    cols="30"
                                    rows="4"></input>
                    </p>

                    <p>
                        <button type="submit">Add employee</button>
                    </p>
                </form>
                <h3>Employees</h3>
                {% for employee in employer.employee %}
                    <div class="employee">
                        <ul>
                            <li>{{ employee.name }}</li>
                            <li >
                                <form method="POST"
                                    action="{{url_for('delete_employee',
                                                    employee_id=employee.id) }}">
                                    <input type="submit" value="Delete Employee"
                                        onclick="return confirm('confirm deletion')">
                                </form>
                             </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}